@model Users

<h2>@Model.UserName's @Model.CharacterName</h2>

<table class="table">
    <tr>
        <th>Player</th>
        <th>Character Name</th>
        <th>Experience</th>
        <th>Credits</th>
        <th>Equipment</th>
        <th>Skills</th>
    </tr>

    <tr>
        <td>@Model.UserName</td>
        <td>@Model.CharacterName</td>
        <td>@Model.XP</td>
        <td>@Model.Credits</td>
        <td>@Model.Equipment</td>
        <td>@Model.Skills</td>
    </tr>
</table>

<div style="display: block; text-align: center">
    <button style="background-color: rgba(191, 191, 191, 0.1)"><a href="/Game/ViewGame/@Model.CampaignID" style="color: white">Return to Campaign</a></button>
</div>

<div style="display: block; text-align: center">
    <button  style="background-color: rgba(191, 191, 191, 0.1)"><a href="/Game/UpdateCharacter/@Model.UserID" style="color: white">Update Character Stats</a></button>
</div>

<div style="display: block; text-align: center">
    @using (Html.BeginForm("DeleteCharacter", "Game", "Post"))
    {
        <input type="hidden" asp-for="UserID" value="@Model.UserID" />
        <input type="hidden" asp-for="CampaignID" value="@Model.CampaignID" />
        <input type="submit" class="delete" onclick="return confirm('Are you sure?')" value="Delete this character" />
    }
</div>


