@model Game

<h2>Campaign: @Model.CampaignName Players</h2>

<table class="table" style="padding-bottom: -50%">
    <tr>
        <th>Player</th>
        <th>Character Name</th>
        <th>Experience</th>
        <th>Credits</th>
        <th>Equipmnet</th>
        <th>Skills</th>
    </tr>

    @foreach (var user in Model.Players)
    {
        <tr>
            <td><a href=/Game/ViewCharacter/@user.UserID>@user.UserName</a></td>
            <td>@user.CharacterName</td>
            <td>@user.XP</td>
            <td>@user.Credits</td>
            <td>@user.Equipment</td>
            <td>@user.Skills</td>
        </tr>
    }
</table>



<div style="display: block; text-align: center">
    <button style="background-color: rgba(191, 191, 191, 0.1)"><a style="color:white"href="/Game/AddPlayer/@Model.CampaignID">Add Player to Game</a></button>
</div>

<div style="display: block; text-align: center">
    @using (Html.BeginForm("DeleteGame", "Game", "Post"))
    {
        <input type="hidden" asp-for="CampaignID" value="@Model.CampaignID" />
        <input type="submit" style="color: white; background-color: rgba(191, 191, 191, 0.1)" onclick="return confirm('Are you sure?')" value="Delete this game and characters" />
    }
</div>

<h2>Soundboard</h2>
<table class="table">
    <tr>
        <td>
            <audio src="/sounds/Darth_Vader_All_Too_Easy_Sound_Effect.mp3" id="myAudio"></audio>
            <button onmouseover="style='text-decoration:underline;background-color: rgba(191, 191, 191, 0);border:none; color:white'"
                    onmouseout="style='text-decoration:none;background-color: rgba(191, 191, 191, 0);border:none; color:white'"
                    style="background-color: rgba(191, 191, 191, 0); border:none; color:white"  onClick="playMyAudio()">All Too Easy</button>
            <script>function playMyAudio() {
                    document.getElementById("myAudio").play();
                }</script>
        </td>
        <td>
            <audio src="/sounds/Jabba_The_Hutt_Laugh_Sound_Effect.mp3" id="myAudio2"></audio>
            <button onmouseover="style='text-decoration:underline;background-color: rgba(191, 191, 191, 0);border:none; color:white'"
                    onmouseout="style='text-decoration:none;background-color: rgba(191, 191, 191, 0);border:none; color:white'"
                    style="background-color: rgba(191, 191, 191, 0); border:none; color:white"  onClick="playMyAudio2()">Jabba Laugh</button>
            <script>function playMyAudio2() {
                    document.getElementById("myAudio2").play();
                }</script>
        </td>
        <td>
            <audio src="/sounds/Lightsaber_Igniting_Sound_Effect.mp3" id="myAudio3"></audio>
            <button onmouseover="style='text-decoration:underline;background-color: rgba(191, 191, 191, 0);border:none; color:white'"
                    onmouseout="style='text-decoration:none;background-color: rgba(191, 191, 191, 0);border:none; color:white'"
                    style="background-color: rgba(191, 191, 191, 0); border:none; color:white"  onClick="playMyAudio3()">Lightsaber Ignite</button>
            <script>function playMyAudio3() {
                    document.getElementById("myAudio3").play();
                }</script>
        </td>
        
    </tr>

    


</table>
<script src="~/js/site.js" asp-append-version="true"></script>

